<h1>Master data</h1>
<table class="table table-responsive">
  <thead>
    <tr>
      <th>name</th>
      <th>age</th>
      <th>phone</th>
      <th>active</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let list of listData; let i = index">
      <td>{{list.fname}}</td>
      <td>{{list.age}}</td>
      <td>{{list.phone}}</td>
      <td [style.color]="list.active === 'yes' ? 'green' : 'red'" >{{list.active}}</td>
      <!-- <td [ngStyle]="{'color': list.active === 'yes' ? 'green' : 'red'}">{{list.active}}</td> -->
      <td>
        <button (click)="filteringArray(i, 'pass')">Pass</button> | 
        <button (click)="filteringArray(i, 'fail')">Fail</button>

      </td>
    </tr>
  </tbody>
</table>

<div class="pass_fail__table">
  <div>
    <h2 style="color:green">Pass Table</h2>
    <table class="pass">
      <thead>
        <tr>
          <th>name</th>
          <th>age</th>
          <th>phone</th>
          <th>active</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let list of passedData"> 
          <td>{{list.fname}}</td>
          <td>{{list.age}}</td>
          <td>{{list.phone}}</td>
          <td [style.color]="list.active === 'yes' ? 'green' : 'red'" >{{list.active}}</td>
          <!-- <td [ngStyle]="{'color': list.active === 'yes' ? 'green' : 'red'}">{{list.active}}</td> -->
         
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2 style="color:red">Fail Table</h2>
    <table class="fail">
      <thead>
        <tr>
          <th>name</th>
          <th>age</th>
          <th>phone</th>
          <th>active</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let list of failedData">
          <td>{{list.fname}}</td>
          <td>{{list.age}}</td>
          <td>{{list.phone}}</td>
          <td [style.color]="list.active === 'yes' ? 'green' : 'red'">{{list.active}}</td>
          <!-- <td [ngStyle]="{'color':list.active === 'yes' ? 'green' : 'red'}">{{list.active}}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
  
</div>